@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{

--laranja:#F28C28;
--laranjaHover:#DD7B18;

--cinza:#F4F6F9;
--cinza2:#E5E7EB;

--texto:#2C3E50;
--texto2:#6B7280;

--shadow:0 15px 35px rgba(0,0,0,.08);

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:var(--cinza);

}

.container{

display:flex;

min-height:100vh;

}

/*================ MENU ================*/

.menu-lateral{

width:260px;

background:white;

padding:30px 20px;

box-shadow:5px 0 25px rgba(0,0,0,.05);

}

.logo-area{

display:flex;

justify-content:center;

margin-bottom:30px;

}

.logo{

width:170px;

}

.menu-lateral nav{

display:flex;

flex-direction:column;

gap:10px;

}

.menu-lateral a{

text-decoration:none;

color:var(--texto);

padding:14px;

border-radius:12px;

display:flex;

align-items:center;

gap:12px;

transition:.3s;

font-weight:500;

}

.menu-lateral a:hover{

background:#FFF4E8;

color:var(--laranja);

transform:translateX(4px);

}

.menu-lateral .ativo{



color:rgb(71, 68, 68);

}

/*================ CONTEÚDO ================*/

.conteudo{

flex:1;

padding:40px;

display:flex;

flex-direction:column;

gap:25px;

}

/*================ TOPO ================*/

.topo{

display:flex;

align-items:center;

gap:20px;

}

.topo h1{

font-size:34px;

color:var(--laranja);

margin-bottom:5px;

}

.topo p{

color:var(--texto2);

}

.btn-menu{

width:50px;

height:50px;

border:none;

border-radius:12px;

background:var(--laranja);

color:white;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.btn-menu:hover{

background:var(--laranjaHover);

}
/* CARD */

.card{

background:white;

padding:35px;

border-radius:20px;

box-shadow:var(--shadow);

}

.card h2{

margin-bottom:25px;

}

/* FORM */

.formulario{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.campo{

display:flex;

flex-direction:column;

}

.campo label{

margin-bottom:8px;

font-weight:600;

}

input{

padding:15px;

border:1px solid var(--cinza2);

border-radius:12px;

background:#fafafa;

font-size:15px;

transition:.3s;

outline:none;

}

input:focus{

border-color:var(--laranja);

box-shadow:0 0 0 4px rgba(242,140,40,.15);

background:white;

}

/* BOTÃO */

.botoes{

margin-top:35px;

}

.botoes button{

background:var(--laranja);

color:white;

border:none;

padding:16px 35px;

border-radius:12px;

cursor:pointer;

font-size:15px;

font-weight:600;

display:flex;

align-items:center;

gap:10px;

transition:.3s;

}

.botoes button:hover{

background:var(--laranjaHover);

transform:translateY(-2px);

}
/* ===========================
   BOTÃO CONFIRMAR ENTREGA
=========================== */

.card-entrega button{

    background:#F28C28;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:12px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    transition:.3s;

    box-shadow:0 8px 18px rgba(242,140,40,.25);

}


/* EFEITO PASSAR O MOUSE */

.card-entrega button:hover{

    background:#DD7B18;

    transform:translateY(-2px);

    box-shadow:0 12px 25px rgba(242,140,40,.35);

}



/* ===========================
   BOTÃO CONFIRMADO
=========================== */

.card-entrega button:disabled{

    background:#16A34A;

    color:white;

    cursor:default;

    box-shadow:0 8px 18px rgba(22,163,74,.25);

    transform:none;

}
/* ===========================
   CONTAINER DAS LISTAS
=========================== */

.listas-epis{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

    width:100%;

}



/* cada lado */

.coluna-epis{

    width:100%;

}



/* caixa com rolagem */

.lista-scroll{

    background:white;

    border-radius:20px;

    padding:20px;

    height:450px;

    overflow-y:auto;

    box-shadow:var(--shadow);

}



/* cards dentro da caixa */

#listaPendentes,
#listaConfirmados{

    display:flex;

    flex-direction:column;

    gap:20px;

}



/* card */

.card-entrega{

    width:100%;

    background:#fff;

    padding:22px;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    border-left:6px solid var(--laranja);

}



/* confirmados */

#listaConfirmados .card-entrega{

    border-left-color:#16A34A;

}

.status-confirmado{

display:inline-flex;

align-items:center;

gap:8px;

background:#16A34A;

color:white;

padding:10px 15px;

border-radius:10px;

font-weight:600;

margin-bottom:15px;

}

/* RESPONSIVO */

@media(max-width:900px){

.container{

flex-direction:column;

}

.menu-lateral{

width:100%;

}

.conteudo{

padding:20px;

}

}

@media(max-width:600px){

.topo{

flex-direction:column;

align-items:flex-start;

}

.formulario{

grid-template-columns:1fr;

}

.botoes button{

width:100%;

justify-content:center;

}

}