body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 90px;
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

h2 {
    font-size: 13px;
    color: #000000;
    margin-bottom: 13px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

label {
    font-size: 12px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 5px;
}

button {
    width: 95%;
    background-color: #D9661c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}


label a {
    color: #D9661c;
    text-decoration: none;
}

label a:hover {
    text-decoration: underline;
}


p {
    font-size: 13px;
    color: #333;
    margin-top: 12px;
}

p a:hover {
    text-decoration: underline;
}

.check {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}



.forgot {
    display: block;
    text-align: left;
    font-size: 12px;
    margin: 8px 0;
    color: #0039a6;
    text-decoration: none;
}


.google-btn {
    background: white;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 10px;
}


.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1000;
}



#menu {
    display: none;
    flex-direction: column;
    background: #f2f2f2;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#menu a:hover {
    background: #ddd;
}

.btn-entrar {
    display: inline-block;
    background-color: #d2691e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.linha-fina {
    border: none;
    height: 1px;
    background-color: #cccccc; 
    width: 100%;
    margin: 20px 0;
}

 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body{
      background: linear-gradient(135deg, #ffffff, #ffffff);
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .card{
      width:350px;
      background:#fff;
      border-radius:20px;
      overflow:hidden;
      box-shadow:0 10px 30px rgba(0,0,0,0.3);
      text-align:center;
    }

    .topo{
      background:#999999;
      height:120px;
    }

    .foto{
      width:120px;
      height:120px;
      border-radius:50%;
      border:5px solid #fff;
      margin-top:-60px;
      object-fit:cover;
    }

    .conteudo{
      padding:20px;
    }

    h1{
      font-size:28px;
      color:#333;
      margin-bottom:5px;
    }

   
    .info{
      text-align:left;
      margin-top:15px;
    }

    .info p{
      margin:10px 0;
      color:#444;
      font-size:15px;
    }

    .btn{
      display:inline-block;
      margin-top:20px;
      padding:12px 25px;
      background:#ffffff;
      color:#fff;
      text-decoration:none;
      border-radius:10px;
      transition:0.3s;
    }

    .btn:hover{
      background:#1e3c72;
    }