
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.perfil{
    text-align:center;
}

.foto{
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

h1{
    color:#222;
    margin-bottom:15px;
}

p{
    font-size:18px;
    color:#555;
    margin:8px 0;
}

button{
    margin-top:20px;
    padding:12px 24px;
    border:none;
    border-radius:30px;
    background:#eb6e25;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.titulo{
    text-align:center;
    color:#222;
    margin-bottom:20px;
}
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #eb6e25;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Menu lateral na direita */
.menu-btn{
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 42px;
    cursor: pointer;
    z-index: 1001;
    color: #000;
}

/* Menu lateral */
.menu-lateral{
    position: fixed;
    top: 0;
    right: -260px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    transition: 0.3s;
    padding-top: 70px;
    z-index: 1000;
    box-shadow: -4px 0 10px rgba(0,0,0,.3);
}

.menu-lateral.ativo{
    right: 0;
}

.menu-lateral a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 18px 25px;
    font-size: 18px;
    transition: .3s;
}

.menu-lateral a:hover{
    background: rgba(255,255,255,.2);
}