*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f3f4f6;
}

.container{
width:100%;
height:100vh;

display:flex;
justify-content:center;
align-items:center;
}

.card-login{
width:900px;
min-height:600px;

background:white;

border-radius:25px;

padding:50px;

box-shadow:0 0 25px rgba(0,0,0,0.08);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.logo{
width:220px;
margin-bottom:20px;
}

h1{
font-size:42px;
color:#1f2937;
margin-bottom:10px;
text-align:center;
}

.subtitulo{
width:650px;
text-align:center;

color:#6b7280;

font-size:18px;

margin-bottom:35px;
}

input{
width:500px;

padding:15px;

border:2px solid #e5e7eb;

border-radius:10px;

margin-bottom:15px;

font-size:16px;
}
.esqueci-senha{
width:500px;
display:flex;
justify-content:flex-end;
margin-bottom:20px;
}

.esqueci-senha a{
background:#eff6ff;
color:#6b7280;

padding:8px 14px;

border-radius:20px;

text-decoration:none;

font-size:14px;
font-weight:bold;

transition:0.3s;
}

.esqueci-senha a:hover{
background:#dbeafe;
transform:scale(1.05);
}

input:focus{
outline:none;
border-color:#eb6e25;
}

.link{
text-decoration:none;
color:#eb6e25;
margin-bottom:20px;
}

.btn-entrar{
width:500px;

padding:15px;

border:none;

border-radius:10px;

background:#eb6e25;

color:white;

font-size:18px;

cursor:pointer;

margin-bottom:15px;
}

.btn-entrar:hover{
opacity:.9;
}

.btn-cadastro{
width:500px;

padding:15px;

border:2px solid #eb6e25;

border-radius:10px;

background:white;

color:#c96d43;

font-size:18px;

cursor:pointer;
}

.btn-cadastro:hover{
background:#fff5f1;
}

.rodape{
margin-top:30px;

color:#6b7280;

font-size:14px;
}
