body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
    border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    min-height: 60vh
}

.logo {
    width: 90px;
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

h2 {
    font-size: 13px;
    color: #000000;
    margin-bottom: 13px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

label {
    font-size: 12px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 5px;
}

button {
    width: 95%;
    background-color: #D9661c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}


label a {
    color: #D9661c;
    text-decoration: none;
}

label a:hover {
    text-decoration: underline;
}


p {
    font-size: 13px;
    color: #333;
    margin-top: 12px;
}

p a:hover {
    text-decoration: underline;
}

.check {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}



.forgot {
    display: block;
    text-align: left;
    font-size: 12px;
    margin: 8px 0;
    color: #0039a6;
    text-decoration: none;
}


.google-btn {
    background: white;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 10px;
}


.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}


.pergunta {
    margin: 20px 0;
}

button {
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: #D9661c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.finalizar {
    background-color: #27ae60;

}

.checklist {
    margin-top: 15px;
}

.resultado {
    margin-top: 15;
    font-weight: bold;
}

.epibox {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #444;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.google-btn img {
    width: 17px;
}

.botoes-fixos {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.btn-voltar {
    position: fixed;
    bottom: 20px;
    left: 30px;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px 20px;
    background-color: #d2691e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

header {
    position: relative;
}


.menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1000;
}



#menu {
    display: none;
    flex-direction: column;
    background: #f2f2f2;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#menu a:hover {
    background: #ddd;
}

.btn-entrar {
    display: inline-block;
    background-color: #d2691e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}