body {
margin: 0;
height: 100vh;
background: linear-gradient(180deg, #ffffff, #ffffff);
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.container {
background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
   border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    min-height: 60vh
}

.logo {
width: 90px;
margin-bottom: 10px;
}

h1 {
font-size: 20px;
color: #000000;
margin-bottom: 20px;
}

h2{
    font-size: 13px;
    color: #000000;
    margin-bottom: 13px;
}

input {
width: 90%;
padding: 8px;
margin: 6px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

label {
font-size: 12px;
color: #333;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
gap: 5px;
}



button {
width: 95%;
background-color: #0077b6;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
margin-top: 10px;
}

body {
margin: 0;
height: 100vh;
background: linear-gradient(180deg, #ffffff, #ffffff);
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.container {
background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
   border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    min-height: 60vh
}

.logo {
width: 90px;
margin-bottom: 10px;
}

h2 {
font-size: 20px;
color: #000000;
margin-bottom: 20px;
}

input {
width: 90%;
padding: 8px;
margin: 6px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

label {
font-size: 12px;
color: #333;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
gap: 5px;
}

label a {
color: #0077b6;
text-decoration: none;
}

label a:hover {
text-decoration: underline;
}

button {
width: 95%;
background-color: #0077b6;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
margin-top: 10px;
}


p {
font-size: 13px;
color: #333;
margin-top: 12px;
}


p a:hover {
text-decoration: underline;
}

.check{
       font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
    background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
   border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    min-height: 60vh
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: #f2f2f2;
}

.forgot {
    display: block;
    text-align: left;
    font-size: 12px;
    margin: 8px 0;
    color: #0039a6;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #D9661c;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.google-btn {
    background: white;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 10px;
}

body {
margin: 0;
height: 100vh;
background: linear-gradient(180deg, #ffffff, #ffffff);
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.container {
background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
   border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    min-height: 60vh
}

.logo {
width: 90px;
margin-bottom: 10px;
}

h1 {
font-size: 20px;
color: #000000;
margin-bottom: 20px;
}

input {
width: 90%;
padding: 8px;
margin: 6px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

label {
font-size: 12px;
color: #333;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
gap: 5px;
}



button {
width: 95%;
background-color: #e9882d;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
margin-top: 10px;
}

body {
margin: 0;
height: 100vh;
background: linear-gradient(180deg, #ffffff, #ffffff);
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
}

.container {
background: rgb(255, 255, 255);
    width: 330px;
    padding: 20px 20px 20px 20px;
   border-color: darkgray;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    min-height: 60vh
}

.logo {
width: 90px;
margin-bottom: 10px;
}

h1 {
font-size: 20px;
color: #000000;
margin-bottom: 20px;
}

h2{
    font-size: 13px;
    color: #000000;
    margin-bottom: 13px;
}

input {
width: 90%;
padding: 8px;
margin: 6px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

label {
font-size: 12px;
color: #333;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
gap: 5px;
}



button {
width: 95%;
background-color: #e9882d;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
margin-top: 10px;
}
