
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.perfil{
    text-align:center;
}

.foto{
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

h1{
    color:#222;
    margin-bottom:15px;
}

p{
    font-size:18px;
    color:#555;
    margin:8px 0;
}

button{
    margin-top:20px;
    padding:12px 24px;
    border:none;
    border-radius:30px;
    background:#D9661c;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#D9661c;
}

.titulo{
    text-align:center;
    color:#222;
    margin-bottom:20px;
}
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #D9661c;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
}
